<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


<!-- Top Section -->
  <section class="navigation-top-section">
   <div class="top-text-container">

    <nav>
      <h2 class="h2-text">sunnyside</h2>
      <!-- Hamburger button (hidden on larger screens) -->
      <button class="hamburger" id="hamburger" (click)="toggleMenu()">&#9776;</button>
    
      <!-- Navigation list, show it based on the value of 'isMenuOpen' -->
      <ul [ngClass]="{'active': isMenuOpen}" id="nav-list">
        <li (click)="closeMenu()">About</li>
        <li (click)="closeMenu()">Services</li>
        <li (click)="closeMenu()">Projects</li>
        <li (click)="closeMenu()"><button class="contact-btn">CONTACT</button></li>
      </ul>
    </nav>
    
    
    


    <h1>WE ARE CREATIVES</h1>
    <img src="icon-arrow-down.svg" alt="" class="down-icon">
   </div>
   <picture>
    <source srcset="image-header-desktop.jpg" media="(min-width: 810px)">
    <img src="image-header.jpg" alt="" class="header-img">
   </picture>
  
  </section>
<!-- Top Section -->

<!-- GRID SECTION BEFORE CLIENT TESTIMONITALS -->

<section class="grids">

<div class="grid-container-1">
  <img src="image-transform.jpg" alt="" class="egg-img">
</div>

<div class="grid-container-2">
  <h3>Transform your brand</h3>
  <p>We are a full-service creative agnecy specailizing 
    in helping brands grow fast. Engage your cleints 
    through compelling visuals that do most of the marketing for you.
  </p>
  <a href="">LEARN MORE</a>
</div>

<div class="grid-container-1">
  <img src="image-stand-out.jpg" alt="" class="egg-img">
</div>


<div class="grid-container-2">
  <h3>Stand out to the right audience</h3>
  <p>Using a collaborative formula of designers,
     researchers, photographers, videographers, and
      copywriters, we’ll build and extend your brand 
      in digital places. 
  </p>
  <a href="" id="anchor-audience">LEARN MORE</a>
</div>

<div id="test" class="grid-container-other">
  <picture>
    <source srcset="image-graphic-design-desktop.jpg" media="(min-width: 810px)">
    <img src="image-graphic-design.jpg" alt="Graphic Design" class="egg-img" id="other-img">
  </picture>
  
  <h4>Graphic Design</h4>
  <p> Great design makes you memorable. We deliver artwork
     that underscores your brand message
     and captures potential clients’ attention.</p>
</div>

<div id="test" class="grid-container-other">
  <picture>
    <source srcset="image-photography-desktop.jpg" media="(min-width: 810px)">
    <img src="image-photography.jpg" alt="Graphic Design" class="egg-img" id="other-img">
  </picture>
  
  <h4 class="photo-text">Photography</h4>
  <p class="photo-text">   Increase your credibility by getting the most 
    stunning, high-quality photos that improve your
     business image.
  </p>
</div>

</section>
<!-- GRID SECTION BEFORE CLIENT TESTIMONITALS -->
<section class="client-test">
<h4 class="client-testimonials-header">Client Testimonials</h4>

<div class="client-grid">

  <div class="client-grid-container">
  <img src="image-emily.jpg" alt="" class="circle-img">
  <p>  We put our trust in Sunnyside and they delivered,
making sure our needs were met and deadlines were 
always hit.</p>
<h2>Emily R.</h2>
<h4>Marketing Director</h4>
  </div>


  <div class="client-grid-container">
    <img src="image-thomas.jpg" alt="" class="circle-img">
    <p>   Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.
    </p>
  <h2>Thomas S.</h2>
  <h4>Chief Operating Officer</h4>
    </div>

    <div class="client-grid-container">
      <img src="image-jennie.jpg" alt="" class="circle-img">
      <p>    Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!
      </p>
    <h2>Jennie F.</h2>
    <h4>Business Owner</h4>
      </div>

</div>
</section>

<!-- FOUR BOX GRID -->

<section class="grid-2x2array">

<div class="grid-2x2">
<img src="image-gallery-milkbottles.jpg" alt="" class="two-two-grid-img">
</div>

<div class="grid-2x2">
  <img src="image-gallery-orange.jpg" alt="" class="two-two-grid-img">
</div>

<div class="grid-2x2">
  <img src="image-gallery-cone.jpg" alt="" class="two-two-grid-img">
</div>

<div class="grid-2x2">
  <img src="image-gallery-sugar-cubes.jpg" alt="" class="two-two-grid-img">
</div>

</section>


<!-- FOUR BOX GRID --><!-- FOUR BOX GRID --><!-- FOUR BOX GRID --><!-- FOUR BOX GRID -->

<section class="footer">
  <h1 class="sunnyside-footer">sunnyside</h1>

<div class="ul">

  <ul>
    <li>
      <a href="">About</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="">Services</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="">Projects</a>
    </li>
  </ul>

</div>

<!-- SOCIAL ICONS FOOTER -->
<div class="social-icons">
  <img src="icon-facebook.svg" alt="">
  <img src="icon-instagram.svg" alt="">
  <img src="icon-twitter.svg" alt="">
  <img src="icon-pinterest.svg" alt="">
</div>


</section>

</body>
</html>